<% 
const deny_sku = [
  "COD_ITEM6165", "COD_ITEM5406", "COD_ITEM5449", "COD_ITEM5930", "COD_ITEM7174", "COD_ITEM7173", "COD_ITEM7172", "COD_ITEM6099", "COD_ITEM5795","XYN5740", "JBA3448", "LSE8399", "XRV8745", "WGH9410", "WAB6774", "TUU4056","COD_ITEM7175","COD_ITEM8042", "COD_ITEM8043", "COD_ITEM8044", "COD_ITEM8045", "COD_ITEM8046", "COD_ITEM8047", "COD_ITEM8048", "COD_ITEM8049", "COD_ITEM8050", "COD_ITEM8031", "COD_ITEM8032", "COD_ITEM8033", "COD_ITEM8034", "COD_ITEM8035", "COD_ITEM8038", "COD_ITEM8039", "COD_ITEM8040", "COD_ITEM8041", "COD_ITEM8051", "COD_ITEM8052","TOY8466","COD_ITEM8030","COD_ITEM8031","COD_ITEM8032","COD_ITEM8033","COD_ITEM8034","COD_ITEM8035","COD_ITEM8040","COD_ITEM8041","COD_ITEM8042","COD_ITEM8043","COD_ITEM8044","COD_ITEM8045","COD_ITEM8046","COD_ITEM8047","COD_ITEM8048","COD_ITEM8049","COD_ITEM8050","COD_ITEM8051","COD_ITEM8052","COD_ITEM8057","COD_ITEM8058","COD_ITEM8059","COD_ITEM8060","COD_ITEM8034","COD_ITEM8038","COD_ITEM8039","COD_ITEM8068","COD_ITEM8069","COD_ITEM8070","COD_ITEM8071","COD_ITEM8072","COD_ITEM8073","COD_ITEM8074","COD_ITEM8075","COD_ITEM8076","COD_ITEM8077","COD_ITEM8078","COD_ITEM8079","COD_ITEM8080","COD_ITEM8081","COD_ITEM8082","COD_ITEM8083","COD_ITEM8084","COD_ITEM8085","COD_ITEM8086","COD_ITEM8087","COD_ITEM8088","COD_ITEM8089","COD_ITEM8090","COD_ITEM8091","COD_ITEM8092","COD_ITEM8093","COD_ITEM8094","COD_ITEM8095","COD_ITEM8096","COD_ITEM8097","COD_ITEM8098","COD_ITEM8099","COD_ITEM8100","COD_ITEM8101","COD_ITEM8102","COD_ITEM8103","COD_ITEM8104","COD_ITEM8105","COD_ITEM8106","COD_ITEM8107","COD_ITEM8108","COD_ITEM8109","COD_ITEM8110","COD_ITEM8111","COD_ITEM8112","COD_ITEM8113","COD_ITEM8114","COD_ITEM8115","COD_ITEM8116","COD_ITEM8117","COD_ITEM8118","COD_ITEM8119","COD_ITEM8120","COD_ITEM8121","COD_ITEM8122","COD_ITEM8123","COD_ITEM8124","COD_ITEM8125","COD_ITEM8126","COD_ITEM8127","COD_ITEM8128","COD_ITEM8129","COD_ITEM8130","COD_ITEM8131","COD_ITEM8132","COD_ITEM8133","COD_ITEM8134","COD_ITEM8135","COD_ITEM8136","COD_ITEM8137","COD_ITEM8138","COD_ITEM8139","COD_ITEM8140","COD_ITEM8141","COD_ITEM8142","COD_ITEM8143","COD_ITEM8144","COD_ITEM8145","COD_ITEM8146","COD_ITEM8147","COD_ITEM8148","COD_ITEM8149","COD_ITEM8150","COD_ITEM8151","COD_ITEM8152","COD_ITEM8153","COD_ITEM8154","COD_ITEM8155","COD_ITEM8156","COD_ITEM8157","COD_ITEM8158","COD_ITEM8159","COD_ITEM8160","COD_ITEM8161"
];
const allow_sku = [];

if (Array.isArray(opt.items) && opt.items.length) {
  const title = opt.title ||
    (opt.collection && opt.collection.name) ||
    _.dictionary('popularProducts')
  const link = opt.link || (opt.collection && `/${opt.collection.slug}`)

  if (opt.shuffle) {
    let m = opt.items.filter(item => {
      return item.available && _.ecomUtils.inStock(item)
    }).length
    let t, i
    while (m) {
      i = Math.floor(Math.random() * m--)
      t = opt.items[m]
      opt.items[m] = opt.items[i]
      opt.items[i] = t
    }
  }

  if(allow_sku.length > 0){
    opt.items = opt.items.filter(el => allow_sku.includes(el.sku))  
  }
  if(deny_sku.length > 0){
    opt.items = opt.items.filter(el => !deny_sku.includes(el.sku))
  }  
  
  opt.items = opt.items.filter(el => el.available && _.ecomUtils.inStock(el))
  %>
  <% if (opt.items.length > 0) { %>
  <section
    class="products-carousel"
    data-size="<%= opt.items.length %>"
    <% if (opt.collection) { %>
      data-collection-id="<%= opt.collection._id %>"
    <% } %>
    data-title="<%= title %>"
  >
    <div class="d-flex justify-content-between align-items-center">
      <% if (!opt.headless) { %>
        <h4 class="products-carousel__title font-weight-700">
          <%= title %>
        </h4>
      <% } %>

      <% if (opt.title || opt.collection) { %>
        <% if (link) { %>
          <a href="<%= link %>" class="d-block font-weight-600">
            Ver Todos
          </a>
        <% } %>
      <% } %>
    </div>

    <ul class="ul__slides products-carousel__list">
      <% for (let i = 0; i < opt.items.length; i++) { %>
        <li class="ul__slide products-carousel__item">
          <%- await include('@/sections/inc/product-item', {
            _, opt: { item: opt.items[i] }
          }) %>
        </li>
      <% } %>
    </ul>

    
  </section>
  <% } %>
<% } %>
